@{
    ViewBag.Title = "General";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="active">Error Page</li>
    </ol>
}

<h2 class="main-heading text-center">Error</h2>

<div class="content-box text-center">
    <h4 class="special-heading">oops !</h4>
    <h5>
        An unexpected error has occurred.
    </h5>
    <br />
    <p>
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-black text-uppercase">Go Back</a>
    </p>
</div>