@model IndexStoreViewModel
@{
    ViewBag.Title = "Store";
}

@Html.MvcSiteMap().SiteMapPath()

<p>
    This is the store home page.
</p>

<p>
    Use this area to show the bestsellers in each category, currents sales/specials, etc. Then the user can drill down into categories.
</p>