@{
    ViewBag.Title = "Index";
}

@section sidebar {
    @{ Html.RenderAction("GenreMenu", "Store"); }
}

<div class="col-md-9">
    <h2>Welcome to the home page!</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante dui, consequat nec consequat vel,
        interdum sed ex. Cras et massa aliquet, placerat odio non, scelerisque velit. Phasellus pulvinar metus
        at dolor sodales ullamcorper. Suspendisse cursus odio et varius tincidunt. Donec sit amet lectus tempus,
        pharetra urna vel, venenatis sem. Praesent feugiat commodo lectus, quis elementum leo ultrices sit amet.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum eget
        lorem et ante pellentesque eleifend eget sed ipsum. Nunc nec augue convallis, molestie magna non, lobortis est.
        Aliquam finibus ultricies dui. Praesent congue massa vitae sollicitudin venenatis. In consequat ligula ac tempor
        vehicula. Curabitur mollis purus orci.
    </p>

</div>